<!-- <div style="display: flex; flex-wrap: wrap; ">
    <mat-card fxLayout="row wrap" style="width: 100%">
        <mat-card fxFlex="100" class="inner-mat">
            
            <mat-form-field appearance="fill">
                <mat-label>Month</mat-label>
                <mat-select [(value)]="selectedValue" [(ngModel)]="selectedValue" #month name="month"
                    (selectionChange)="selectMonth(month.value)">
                    <mat-option *ngFor="let month of monthList" [value]="month.strdata">
                        {{month.strdata}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-form-field" style="margin-left: 2em;">
                <mat-label>Ticker/Date</mat-label>
                <input matInput type="text" [(ngModel)]="value" #txtVal (keydown.enter)="applyFilter(txtVal.value)"
                    style="color:black">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field class="example-form-field" style="margin-left: 2em;">
                <mat-label>portfolio value</mat-label>
                <input matInput type="text" [(ngModel)]="value1" [disabled]="true" #txtVal
                    (keydown.enter)="applyFilter(txtVal.value)" style="color:black">
            </mat-form-field>

            <mat-form-field class="example-form-field" style="margin-left: 1em;">
                <mat-label>MTD$</mat-label>
                <input matInput type="text" [(ngModel)]="MTD$" [disabled]="true" #txtVal
                    (keydown.enter)="applyFilter(txtVal.value)" style="color:black">
            </mat-form-field>
            <mat-form-field class="example-form-field" style="margin-left: 1em;">
                <mat-label>YTD$</mat-label>
                <input matInput type="text" [(ngModel)]="YTD$" [disabled]="true" #txtVal
                    (keydown.enter)="applyFilter(txtVal.value)" style="color:black">
            </mat-form-field>
            <mat-form-field class="example-form-field" style="margin-left: 1em;">
                <mat-label>Performance</mat-label>
                <input matInput type="text" [(ngModel)]="performance" [disabled]="true" #txtVal
                    (keydown.enter)="applyFilter(txtVal.value)" style="color:black">
            </mat-form-field>
              
            <button mat-flat-button  class="download"  (click)="downLoadData()">..</button>
           
            <label class="file-name" for="file">..</label>
            <input class="file-input" type="file" id="file" (change)="handleFileInput($event)">
            
           
        </mat-card>
    </mat-card>
</div> -->
<div style="display: flex; flex-wrap: wrap; ">
    <mat-card fxLayout="row wrap" style="width: 100%">
        <mat-card fxFlex="100" class="inner-mat">
            <app-mul-selections [monthList]="monthList"></app-mul-selections>
            <app-mul-selections></app-mul-selections>
            <app-date-selections></app-date-selections>
            <button mat-raised-button color="primary" class="func-button" (click)="submitPressed()">Submit</button>
           
            <button mat-flat-button class="func-button" (click)="downLoadData()">..</button>

            <label class="file-name" for="file">..</label>
            <input class="file-input" type="file" id="file" (change)="handleFileInput($event)">

        </mat-card>
    </mat-card>
</div>