
<div class="example-action-buttons">
    
    <button mat-button class="expand" (click)="accordion.openAll()">Expand Filters</button>
    <button mat-button class="collapse" (click)="accordion.closeAll()">Collapse Filters</button>
</div>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <div style="display: flex; flex-wrap: wrap; ">
            <mat-card fxLayout="row wrap" style="width: 100%; ">
                <!-- <mat-card fxFlex="100" class="inner-mat"> -->
                    <!-- period -->
                    <app-period #period [monthList]="monthList" [yearList]="yearList"></app-period>
                    <!-- <app-mul-selections style="margin-top: 5px" #monthselect [data]="monthList" [title] ="title"></app-mul-selections> -->
                    <!-- ticker -->
                    <app-mul-selections class="options" #tickerselect [data]="tickerList" [title]="title2">
                    </app-mul-selections>
                    <!-- realised -->
                    <app-mul-selections class="options" #realized [data]="realizedData" [title]="title3">
                    </app-mul-selections>
                    <!-- strategy -->
                    <app-mul-selections class="options" #strategy [data]="strategyData" [title]="title4">
                    </app-mul-selections>
                    <!-- barchart options -->
                    <app-mul-selections class="options" #barchart [data]="barchartOptions" [title]="title6">
                    </app-mul-selections>
                    <!-- treadeId from to to -->
                    <!-- <app-mul-selections class="options" #tradeId [data]="tickerList" [title] ="title5"></app-mul-selections> -->
                    <app-trade-id class="trade-id" #tradeId [title]="title5"></app-trade-id>
                    <!-- submit -->
                    <button mat-raised-button color="primary" class="func-button"
                        (click)="submitPressed()">Submit</button>

                    <button mat-flat-button class="download-btn" (click)="downLoadData()">..</button>

                    <label class="file-name" for="file">..</label>
                    <input class="file-input" type="file" id="file" (change)="handleFileInput($event)">

                <!-- </mat-card> -->
            </mat-card>
        </div>
    </mat-expansion-panel>
</mat-accordion>