<mat-card fxLayout="row wrap" >
    <mat-card fxFlex="100" >
        <mat-form-field appearance="fill">
            <mat-label>Month</mat-label>
            <mat-select [(value)]="selectedValue" [(ngModel)]="selectedValue" #month name="month" (selectionChange)="selectMonth(month.value)">
                <mat-option *ngFor="let month of monthList" [value]="month.strdata">
                    {{month.strdata}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-form-field" style="margin-left: 2em;">
            <mat-label>Ticker</mat-label>
            <input matInput type="text" [(ngModel)]="value" #txtVal (keydown.enter)="applyFilter(txtVal.value)"
                style="color:black">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="example-form-field" style="margin-left: 2em;">
            <mat-label>portfolio value</mat-label>
            <input matInput type="text" [(ngModel)]="value1" [disabled]="true" #txtVal
                (keydown.enter)="applyFilter(txtVal.value)" style="color:black">
        </mat-form-field>

        <mat-form-field class="example-form-field" style="margin-left: 1em;">
            <mat-label>MTD$</mat-label>
            <input matInput type="text" [(ngModel)]="MTD$" [disabled]="true" #txtVal
                (keydown.enter)="applyFilter(txtVal.value)" style="color:black">
        </mat-form-field>
        <mat-form-field class="example-form-field" style="margin-left: 1em;">
            <mat-label>YTD$</mat-label>
            <input matInput type="text" [(ngModel)]="YTD$" [disabled]="true" #txtVal
                (keydown.enter)="applyFilter(txtVal.value)" style="color:black">
        </mat-form-field>
        <mat-form-field class="example-form-field" style="margin-left: 1em;">
            <mat-label>Performance</mat-label>
            <input matInput type="text" [(ngModel)]="performance" [disabled]="true" #txtVal
                (keydown.enter)="applyFilter(txtVal.value)" style="color:black">
        </mat-form-field>

    </mat-card>