
<mat-label class="label">Daily portfolio by Date + Ticker (Detail)</mat-label>


<table #table mat-table [dataSource]="dataSource" matSort >

  <ng-container matColumnDef="positionDate">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">positionDate</th>
    <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.positionDate  | date: 'shortDate': 'UTC'}} </td>
  </ng-container>
    <ng-container matColumnDef="ticker">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">ticker</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.ticker}} </td>
    </ng-container>
    <ng-container matColumnDef="qty">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">qty</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.qty}} </td>
    </ng-container>
    <ng-container matColumnDef="cost">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">cost</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.cost}} </td>
    </ng-container>
    <ng-container matColumnDef="curPx">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">curPx</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.curPx}} </td>
    </ng-container>
    <ng-container matColumnDef="priorPx">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">priorPx</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.priorPx}} </td>
    </ng-container>
    <ng-container matColumnDef="inv">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">inv</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.inv}} </td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">value</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.value}} </td>
    </ng-container>
    <ng-container matColumnDef="prior">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">prior</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.prior}} </td>
    </ng-container>
    <ng-container matColumnDef="unrPnl">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">unrPnl</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.unrPnl}} </td>
    </ng-container>
    <ng-container matColumnDef="dodPnl">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">dodPnl</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.dodPnl}} </td>
    </ng-container>
    <ng-container matColumnDef="returnP">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">returnP</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.returnP}} </td>
    </ng-container>
    <ng-container matColumnDef="dailyP">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header class="w-100">dailyP</th>
      <td mat-cell *matCellDef="let element" style="font-size:smaller;" > {{element.dailyP}} </td>
    </ng-container>
  
    <!-- Pnl Column -->
   
   
    
   
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns; " ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
          ></tr>
  </table>
  

  