.mat-row {
    height: auto;
  }
  
  .mat-cell {
    padding: 4px 4px 4px 0;
    
  }
  .mat-header-cell {
    /* padding: 4px 4px 4px 0; */
    color: coral;
    
  }
  table {
    width: 100%;
  }
  mat-table {
    overflow-x: scroll;
    
  }
  .label {
    background-color: lightblue;
    padding: .5em;
  }
  .date-picker {
      margin-left: 1em;
      
  }
 
.gen-margin {
  margin: .6em;;
}

.w-75{
    width: 75px;
}

.w-100{
    width: 100px;
}