

<mat-form-field class="example-form-field">
    <mat-label>{{title}} start</mat-label>
    <input matInput type="number" [(ngModel)]="startId">
    <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>close</mat-icon>
    </button>

</mat-form-field>
<mat-form-field class="example-form-field">
    <mat-label>{{title}} end</mat-label>
    <input matInput type="number" [(ngModel)]="endId">
    <button mat-button  matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>close</mat-icon>
    </button>

</mat-form-field>

