<!-- <mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Owner-Account</a>
    </div>
    <span class="menu-spacer"></span>
    <div >
        <a mat-button [routerLink]="'/accounts'"> Link1 </a>
        <a mat-button [routerLink]="'/create-account'"> Link2 </a>
        <a mat-button [routerLink]="'/contacts'"> Link3 </a>
    </div>
    
  </mat-toolbar>  -->
  
  
  