<table #table mat-table [dataSource]="data" matSort >

  <ng-container [matColumnDef]="field" *ngFor="let heading of headings;let field of displayedColumns">
    <th mat-header-cell *matHeaderCellDef>{{ field }}</th>
    <td mat-cell *matCellDef="let element">{{ element[field] }}</td>
  </ng-container>
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; " ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

    
  </table>



<!-- <div class="month-container">
  <button (click)="someEvent()">Click</button>
<table>
	<tr>
		<th *ngFor="let heading of headings">{{heading!}}</th>
	</tr>

	<tr *ngFor="let obj of data; let i= index" [attr.data-index]="i">
		<td *ngFor="let fieldName of fields; let j=index">{{obj[fieldName]!}}</td>
	</tr>

	<br />

{{data[0]["lastname"]!}} 
</table>
</div> -->