<h3>Filters:</h3>
<section >
  <div>

    <app-head 
          [monthList]="monthList"
          [yearList]="yearList"
          [tickerList]="tickerList"
          [realizedData]="realizedData"
          [strategyData]="strategyData" 
          [barchartOptions]="barchartOptions"
          (globalFilterNotification)="globalFilterHandler($event)">
    </app-head>

  </div>
</section>

<!-- chips -->
<div>
  <mat-form-field class="example-chip-list">
      <!-- <mat-label>Favorite Fruits</mat-label> -->
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let filter of selectedFilter" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(filter)">
          {{filter}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        
      </mat-chip-list>
    </mat-form-field>
</div>

  <div class="chart-wrapper barchart-container">
    <canvas #myChart baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
      (chartHover)="callChartHover($event)" (chartClick)="callChartClick($event)">
    </canvas>
  </div>



<!-- [colors]="barchartColors" -->

<!-- ;  width:60vw 
  [monthList]="monthStr" [tickerList]="tickerStr" [yearList]="yearStr" [realizedData]="realizedData"
      [strategyData]="strategyData"
(globalFilterNotification)="globalFilterHandler($event)"
(searchNotification)="searchHandler($event)"-->