.barchart-container {
    position: relative; 
    height: 45vh;
    margin: 0 30px;
    /* max-width: 60vw; */
    /* max-width: 100%; */
    text-align:  center;
    border: 3px solid #3F51B5ed;
   
}

mat-button-toggle:hover {
    color: #3F51B5;
    font-weight: 500;
}
section {
    margin-bottom: .7em;
    display: flex;
    border: 3px solid #3F51B5ed;
}
h3 {
    color: #3F51B5;
}

.example-chip-list {
    width: 100%;
}