<h3>Filters:</h3>
<section >
  <div>

    <app-head 
          [monthList]="monthList"
          [yearList]="yearList"
          [tickerList]="tickerList"
          [realizedData]="realizedData"
          [strategyData]="strategyData" 
          [barchartOptions]="barchartOptions"
          (globalFilterNotification)="globalFilterHandler($event)">
    </app-head>

  </div>
</section>
  <br />
  <br />

  <div class="chart-wrapper barchart-container">
    <canvas #myChart baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
      (chartHover)="callChartHover($event)" (chartClick)="callChartClick($event)">
    </canvas>
  </div>



<!-- [colors]="barchartColors" -->

<!-- ;  width:60vw 
  [monthList]="monthStr" [tickerList]="tickerStr" [yearList]="yearStr" [realizedData]="realizedData"
      [strategyData]="strategyData"
(globalFilterNotification)="globalFilterHandler($event)"
(searchNotification)="searchHandler($event)"-->